@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 50% 99%;
    --foreground: 0 0% 27%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 27%;
    --primary: 197 71% 73%;
    --primary-foreground: 0 0% 27%;
    --secondary: 0 0% 75%;
    --secondary-foreground: 0 0% 27%;
    --muted: 0 0% 75%;
    --muted-foreground: 0 0% 45%;
    --accent: 350 100% 88%;
    --accent-foreground: 0 0% 27%;
    --destructive: 9 100% 64%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 88%;
    --input: 0 0% 92%;
    --ring: 197 71% 73%;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 263 70% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 188 85% 41%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 263 70% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
