@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 50% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 211 92% 54%;
    --primary-foreground: 356 75% 98%;
    --secondary: 240 5% 65%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 5% 65%;
    --muted-foreground: 240 4% 46%;
    --accent: 142 71% 45%;
    --accent-foreground: 356 75% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 211 92% 54%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 14% 15%;
    --foreground: 208 100% 97%;
    --card: 240 11% 23%;
    --card-foreground: 208 100% 97%;
    --popover: 240 11% 23%;
    --popover-foreground: 208 100% 97%;
    --primary: 271 76% 53%;
    --primary-foreground: 208 100% 97%;
    --secondary: 248 43% 59%;
    --secondary-foreground: 208 100% 97%;
    --muted: 248 43% 59%;
    --muted-foreground: 208 100% 97%;
    --accent: 180 100% 50%;
    --accent-foreground: 240 14% 15%;
    --destructive: 16 100% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 11% 33%;
    --input: 240 11% 33%;
    --ring: 271 76% 53%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
