@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--light-background);
    --foreground: var(--light-foreground);
    --card: var(--light-card);
    --card-foreground: var(--light-card-foreground);
    --popover: var(--light-popover);
    --popover-foreground: var(--light-popover-foreground);
    --primary: var(--light-primary);
    --primary-foreground: var(--light-primary-foreground);
    --secondary: var(--light-secondary);
    --secondary-foreground: var(--light-secondary-foreground);
    --muted: var(--light-muted);
    --muted-foreground: var(--light-muted-foreground);
    --accent: var(--light-accent);
    --accent-foreground: var(--light-accent-foreground);
    --destructive: var(--light-destructive);
    --destructive-foreground: var(--light-destructive-foreground);
    --border: var(--light-border);
    --input: var(--light-input);
    --ring: var(--light-ring);
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
    --radius: 0.5rem;
  }
 
  .dark {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --card: var(--dark-card);
    --card-foreground: var(--dark-card-foreground);
    --popover: var(--dark-popover);
    --popover-foreground: var(--dark-popover-foreground);
    --primary: var(--dark-primary);
    --primary-foreground: var(--dark-primary-foreground);
    --secondary: var(--dark-secondary);
    --secondary-foreground: var(--dark-secondary-foreground);
    --muted: var(--dark-muted);
    --muted-foreground: var(--dark-muted-foreground);
    --accent: var(--dark-accent);
    --accent-foreground: var(--dark-accent-foreground);
    --destructive: var(--dark-destructive);
    --destructive-foreground: var(--dark-destructive-foreground);
    --border: var(--dark-border);
    --input: var(--dark-input);
    --ring: var(--dark-ring);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
